* {
    font-size: 16px;
    font-family: 'Courier', serif;
}
.action {
    display: block;
    text-align: left;
    line-height: 1.6em;
}
.character-dialogue {
    display: block;
    width: 300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.character-dialogue-wrapper {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1em;
}
.character-dialogue .character-name {
    display: block;
    float: left;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}
.character-dialogue .character-response {
    float: left;
    text-align: left;
    width: 100%;
}
.parenthetical {
    margin-left: 30%;
    margin-right: auto;
}
.scene-heading {
    display: block;
    font-size: 100%;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
.transition {
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 1em;
}

/* Editor.js Specific CSS */
.ce-toolbox__button #custom-tool {
    padding: 5px;
    border-radius: 2px;
    background-color: #E1E1E1;
}