.action {
    display: block;
    float: left;
    font-size: 100%;
    text-align: left;
    margin-bottom: 1em;
}
.character-dialogue {
    display: block;
    width: 300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.character-dialogue-wrapper {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1em;
}
.character-dialogue .character-name {
    display: block;
    float: left;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}
.character-dialogue .character-response {
    float: left;
    text-align: left;
    width: 100%;
}
.parenthetical {
    margin-left: 30%;
    margin-right: auto;
}
.scene-heading {
    display: block;
    float: left;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.transition {
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: right;
    float: right;
    margin-bottom: 1em;
}