* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
    background-color: #EEE;
    margin: 0;
    padding: 0;
}
.create-new-project {
    display: block;
    width: 100%;
    height: 75px;
    margin-top: 20px;
    background-color: #E1E1E1;
    cursor: pointer;
    border-radius: 3px;
}
.create-new-project p {
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-style: italic;
    color: #a2a2a2;
}
.create-new-project:hover {
    background-color: rgb(215, 215, 215);
}
.nav-menu-item {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.nav-menu-item:hover {
    background-color: rgb(206, 206, 206);
}
.projects {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-top: 5%;
}
.projects #projects-title {
    display: block;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    padding-bottom: 10px;
}
.project-window-wrapper {
    overflow-y: scroll;
    height: auto;
}
.project-window {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 8.5in;
    height: 11in;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 13px 14px -10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 13px 14px -10px rgba(0,0,0,0.25);
    box-shadow: 0px 13px 14px -10px rgba(0,0,0,0.25);
}
/* Padding left side at 1.5in is 'formal' to include punch-holes.*/
.editable-window {
    display: block;
    padding: 1in 1in 1in 1in;
    font-size: 12px;
    font-family: 'Courier', serif;
    text-align: start;
    white-space: normal !important;
}
.title-bar {
    display: block;
    width: auto !important;
    position: fixed;
    -webkit-user-select: none;
    min-width: 99%;
    height: 20px;
    background-color: #E1E1E1;
    -webkit-app-region: drag;
    font-family: 'Merriweather', serif;
    padding: 10px;
    top: 0;
    overflow: hidden;
}
.title-bar #title {
    padding-top: 10px; 
    padding-left: 7px;
    padding-right: 12px;
}
.title-bar #window-controls div {
    position: absolute;
    width: 5px;
    -webkit-app-region: no-drag;
    height: 5px;
    padding: 10px;
    cursor: pointer;
}
.title-bar #window-controls #close-window {
    background-image: url(../img/close.png);
    background-size: contain;
    opacity: 0.6;
    margin-top: 7px;
    margin-right: 20px;
    top: 0;
    right: 0;
}
.title-bar #window-controls #minimize-window {
    background-image: url(../img/minimize.png);
    background-size: contain;
    opacity: 0.6;
    margin-top: 7px;
    margin-right: 90px;
    top: 0;
    right: 0;
}
.title-bar #window-controls #maximize-window {
    background-image: url(../img/expand.png);
    background-size: contain;
    opacity: 0.6;
    margin-top: 7px;
    margin-right: 55px;
    top: 0;
    right: 0;
}
#custom-hr {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #E1E1E1;
    margin-bottom: 20px;
}
#logo {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
    image-rendering: optimizeQuality;
}